body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#lab {
    display: flex;
    margin-bottom: 20px;
}

.matraz {
    position: relative;
    width: 150px;
    height: 300px;
    background-color: #ccc;
    border: 2px solid #999;
    margin: 0 20px;
}

.agua {
    position: absolute;
    width: 100%;
    background-color: #3498db;
    bottom: 0;
}

#vapor {
    height: 50%;
    display: none;
}

#refrigerante {
    width: 10px;
    height: 300px;
    background-color: #999;
    margin: 0 20px;
}

#descripcion {
    text-align: center;
    margin-bottom: 20px;
}

#botones {
    display: flex;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
