body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#lab {
    display: flex;
    margin-bottom: 20px;
}

.matraz {
    position: relative;
    width: 100px;
    height: 200px;
    background-color: #e9ecef;
    border: 2px solid #ced4da;
    margin: 0 10px;
}

.agua {
    position: absolute;
    width: 100%;
    background-color: #3498db;
    bottom: 0;
}

#vapor {
    height: 50%;
    display: none;
}

#refrigerante {
    width: 5px;
    height: 200px;
    background-color: #ced4da;
    margin: 0 10px;
}

#descripcion {
    text-align: center;
    margin-bottom: 20px;
}

#botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
